{% extends 'librarian/basic.html' %}
{% load static %}
{% block title %}
Books
{% endblock %}

{% block css %}
{% endblock %}

{% block body %}



<div class="container">
    <br>

    <h5 class="text-center mb-5">Books </h5>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ISDN</th>
                <th scope="col">Name</th>
                <th scope="col">Author</th>
                <th scope="col">Quantity</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {%for book in data%}
            <tr>
                <td scope="row">{{book.isbn}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.quantity}}</td>

                <td class="text-success"><a href="/librarian/update-book/{{book.isbn}}">Update</a></td>
                <form action="/librarian/delete-book/{{book.isbn}}" method="post">
                    {%csrf_token%}
                    <td><button class="sm-btn btn-danger ">Delete</button></td>
                </form>
                </a>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <div class="container text-center mt-5">
    <a href="/librarian/add-book">
    <button class="sm-btn btn-success">Add new book</button>
</a></div>
</div>
</section>

{% endblock %}